.container {
    text-align: center;
    font-size: 35px;
}

.container-1 {
    text-align: center;
    font-size: 35px;
}

.button {
    background-color: navy;
    color: white;
    text-align: justify;
    width: 400px;
}

.span {
    font-size: 35px;
}

#button {
    text-align: center;
}

section {
    font-size: 35px;
}

#countdown {
    font-size: 35px;
    text-align: end;
    color: black;
}

#points {
    font-size: 35px;
}