.container {
    text-align: center;
}

.container-1 {
    text-align: center;
}

.button {
    background-color: navy;
    color: white;
    text-align: justify;
    width: 200px;
}

.span {
    font-size: 30px;
}

#button {
    text-align: center;
}

section {
    font-size: 25px;
}

#countdown {
    font-size: 35px;
    text-align: end;
    color: black;
}